.trovo-live {
  margin: 20px 0 12px;
  padding: 20px 40px;
  background: #f3f3f3;
  border-radius: 4px;
}

.trovo-live__logo {
  height: 26px;
  width: auto;
}

.trovo-live__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trovo-live__top--left {
  display: flex;
  justify-content: center;
  align-items: center;
}
