@import "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.manager-card {
  color: $white;
  row-gap: 15px;
  padding: 10px;
}

.manager-card__title {
  font-size: 18px;
  color: $white;
  font-weight: 700;
}

.manager-card__separate-line {
  width: 100%;
  border: 0;
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
  background-color: $link-gold;
}

.manager-card__contacts {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-bottom: 10px;
}

.manager-card__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.manager-card__name {
  font-size: 20px;
  font-weight: bold;
}

.manager-card__text {
  font-size: 20px;
}

.contact__link {
  color: $link-gold;
  text-decoration: none;
  font-size: 20px;

  &--trovo {
    color: #4ab279;
  }

  &--telegram {
    color: #09a6d6;
  }
}
