.elixir-card {
  width: 200px;
  height: 250px;
  background-color: grey;
  border-radius: 10px;
}

.elixir-card__bottom {
  background-color: gray;
}
.elixir-card__text {
  color: #fff;
  font-size: 20px;
}
