.payment-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;

  @media (min-width: 1024px) {
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 50px;
  }
}

.payment-types__type {
  background-color: #fff;
  border-radius: 10px;
}

.payment-types__logo {
  width: 100px;
  height: 68px;
  border-radius: 10px;
  cursor: pointer;
  transition: 500ms linear;
  object-fit: contain;
  background-color: #fff;

  &:hover {
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
  }

  @media (min-width: 744px) {
    width: 130px;
    height: 85px;
  }

  @media (min-width: 1024px) {
    width: 147px;
    height: 95px;
  }
}
